<ul class="list-group">
  <li class="list-group-item">
    <a href="">History</a>
  </li>
  <li class="list-group-item">
    <a href="">Create category</a>
  </li>
  <li class="list-group-item">
    <a href="">Create ticket</a>
  </li>
</ul>