body, html{
    background: #DDD;
}
.msg-errors{
    width: 100%;
    padding: 10px 0px;
    text-align: center;
}
.notice, .alert{
    color: rgb(233, 75, 1);
    padding: 0;
    margin: 0;
}
.navbar{
    position: sticky;
}
.infor-login:hover{
    cursor: pointer;
}
.content{
    width: 100%;
    padding: 20px;
    min-height: 570px;
}
.banner{
    padding-bottom: 20px;
}
.item{
    width: 19%;
    margin: 5px;
    border: .5px solid rgb(3, 34, 0);
    padding: 10px 20px;
    display: block;
    /* max-height: 250px; */
    border-radius: 10px;
    background: rgb(255, 252, 214);
}
.item .img-item{
    width: 100px;
    margin: 5px auto;
}
.item .title-ticket{
    width: 100%;
    height: 80px;
    display: block;
    padding: 5px 0px;
}
.item .btn-ticket{
    display: flex;
    justify-content: center;
}

/* footer */
.footer{
    width: 100%;
    background: #AAA;
    padding: 0;
    margin: 0;
}
.footer .coppy {
    text-align: center;
    margin: 0;
    padding: 10px;
}

/* Row ticket */
.row-count-all {
    width: 100%;
    border-bottom: .5px solid #AAA;
    margin-bottom: 25px;
}
.row-count-all p{
    padding: 0;
    margin: 0;
}
.row-ticket{
    width: 50%;
    display: flex;
    border-bottom: .5px solid #AAA;
    padding: 10px;
}
.row-img-ticket{
    align-self: center;
    width:100px;
}
.row-link-ticket{
    margin-left: 10px;
    width: 100%;
    height: 55px;
}
.btn-ounline-ticket{
    background: none;
    border: .5px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}
.btn-ounline-ticket:hover{
    background: rgb(255, 0, 0);
    color: #fff;
    border: .5px solid rgb(0, 19, 1);
}

// form login
.content .form-login{
    width: 400px;
    padding: 10px 20px;
    margin: 0 auto;
}
.form-login h2{
    text-align: center;
}
#error_explanation h6{
    color: rgb(228, 82, 37);
}
#error_explanation ul li{
    list-style: none;
    color: tomato;
}
.actions{
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}
.current-user-infor{
    color: blue;
    cursor: pointer;
}
.form-edit{
    width: 500px;
    padding: 10px 20px;
    margin: 0 auto;
}
.form-edit h2{
    text-align: center;
}
.row-btn-delete{
    display: flex;
}
.row-btn-delete span{
    line-height: 38px;
}
.link{
    color: black;
}
.link:hover{
    color: blue;
    text-decoration-line: underline;
}

// upload img
.file-upload {
    background-color: #ffffff;
    width: 450px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
    font-size: 20px;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  .form-group-check_box{
      padding: 10px 0;
  }
  .form-group-check_box input{
      width: 18px;
      height: 18px;
      line-height: 30px;
  }
  .form-group-check_box label{
    line-height: 30px;
    font-size: 20px;
  }
  .infor-login{
      display: flex;
  }
  .infor-login i{
      line-height: 34px;
      font-size: 20px;
      margin-left: 10px;
      margin-right: -10px;
  }
  .current-user-infor .image-avt-user-login{
      border-radius: 50%;
  }
  .dropdown-menu-user{
      width: 190px;
  }
  .view-infor{
      display: flex;
  }
  .view-infor .user-menu{
    flex: 1 0 20%;
    height: 100%;
    min-height: 530px;
  }  
  .view-infor .view-infor-user{
    flex: 1 0 80%;
    min-height: 100%;
    display: block;
    padding: 20px;
    background: #EEE;
  }
  .view-infor .row-infor-user{
    padding: 4px 0;
    width: 100%;
  }
  .view-infor-user .right-btn{
    float: right;
  }