<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="row-footer">
      <div class="item-footer">
        
      </div>
      <div class="item-footer">
        
      </div>
      <div class="item-footer">
        
      </div>
    </div>
    <p class="coppy">Copyright &copy; Quiz test, <span id="year-design"></span>. All copyright designed by Tomosia</p>  
  </div>
</div>
<script> 
  var year = new Date();
  document.getElementById("year-design").innerHTML = year.getFullYear();
</script>